<div mat-dialog-title>
    <h1 align="center">Eliminar usuario         <button mat-button (click)="cerrarModal()">X</button></h1>
</div>
<form [formGroup]="deleteUserForm">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline" class="full-width">
            <mat-label>nombre</mat-label>
            <input matInput type="text" formControlName="nombree4"> 
            </mat-form-field>  
        </div>
        <div class="row">
            <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" formControlName="fullName"> 
            </mat-form-field>  
        </div> 
        <div class="row">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Fecha de nacimiento</mat-label>
              <input matInput type="date" formControlName="birth"> 
            </mat-form-field>  
        </div>
        <div class="row">
            <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email"> 
            </mat-form-field>  
        </div>        
        <div mat-dialog-actions class="action" align="end">        
            <button class = "secondary" type="button" mat-raised-button (click)="onSubmit()">Eliminar</button>
        </div>        
        <div id="divAddUsuario"  class="button btn-btn-danger" align="center"><button mat-button (click)="cerrarModal()">Cancelar</button></div>
    </div>         
</form> 
