<div mat-dialog-title>
    <h2 align="center">Eliminar usuario</h2>
</div>
<form [formGroup]="deleteUserForm">
    <div mat-dialog-content class="content">
        <div class="row" style="display:none">
            <mat-form-field appearance="outline" class="full-width">
            <mat-label>nombre</mat-label>
                <input matInput type="text" formControlName="nombree4">
            </mat-form-field>  
        </div>
        <div class="row">
            <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nombre</mat-label>
                <input matInput type="text" formControlName="fullName" readonly="true"> 
            </mat-form-field>  
        </div> 
        <div class="row">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Fecha de nacimiento</mat-label>
                <input matInput type="date" formControlName="birth"  readonly="true"> 
            </mat-form-field>  
        </div>
        <div class="row">
            <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email"  readonly="true"> 
            </mat-form-field>  
        </div>        
        <div mat-dialog-actions class="action" align="center">        
            <button class = "btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
            <button class="btn btn-danger" type="button" (click)="onSubmit()">Eliminar</button>
        </div>               
    </div>         
</form> 
