<div class="container">
    <h1 class="text-center">Administrador de usuarios     <img src="../assets/icons/agrega_usuariol.jpg" width="5%" height="5%" class="rounded-circle object-fit-cover" (click)="addUserModal()"></h1>
    <div *ngIf="Users.length > 0">
      <table class="table table-striped" border="1">
          <thead>
            <tr align="center">
              <th>Nombre</th>
              <th>Fecha de nacimiento</th>
              <th>Email</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of Users | paginate: { itemsPerPage: 10, currentPage: p }">
              <td>{{ user.fullName }}</td>
              <td align="center">{{ user.birth | date: 'dd/MM/yyyy' }}</td>
              <td align="center">{{ user.email }}</td>
              <td align="center"><button class="btn btn-danger" (click)="deleteUser(user.id)">X</button></td>          
              <td align="center"><img src="../assets/lapiz.png" width="50%" height="50%" (click)="getUserId(user.id)"></td>
            </tr>
          </tbody>
              
        </table>
        <div class="d-flex justify-content-center">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>   
      </div>  
    </div>
