<div mat-dialog-title>
    <h2 align="center">Editar nuevo usuario</h2>
</div>
<form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" formControlName="fullName"> 
              </mat-form-field>  
        </div>
        <div class="row">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Fecha de nacimiento</mat-label>
              <input matInput type="date" formControlName="birth"> 
            </mat-form-field>  
        </div>
        <div class="row">
            <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email"> 
            </mat-form-field>  
        </div> 
        <div mat-dialog-actions class="action" align="end">        
            <button [disabled]="!editUserForm.valid" class = "btn btn-secondary" type="button" (click)="cerrarModal()">Cerrar</button>
            <button [disabled]="!editUserForm.valid" class = "btn btn-success" type="submit">Editar</button>            
        </div>                
    </div>         
</form> 
<app-direcciones [IdGuid]="this.IdGuid"></app-direcciones>
